<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3SCsWCj72ho2YX6UUf-t55P62ADcgxTc</string>
	<key>GCM_SENDER_ID</key>
	<string>870859629353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scorecardgrades.mobile</string>
	<key>PROJECT_ID</key>
	<string>scorecardto</string>
	<key>STORAGE_BUCKET</key>
	<string>scorecardto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870859629353:ios:5ad00397a811035b968d38</string>
	<key>REVERSE_CLIENT_ID</key>
	<string>870859629353-p4k4ptusm5irenbqu4grggodu1oulla4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>870859629353-p4k4ptusm5irenbqu4grggodu1oulla4.apps.googleusercontent.com</string>
</dict>
</plist>